/* here is all custom css  */


.header {
  background-color: var(--bg-color);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.custom-button {
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: var(--secondary-color);
}