/* here is our globel css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color:  #001f3f ;
  --secondary-color: #C8102E;
  --text-color: #333;
  --bg-color: #fff;
  --font-family: 'Inter', sans-serif;
} */

/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
} */

@layer base {
  body {
    @apply font-montserrat;
  }
}
